<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slime_Botz</title>

    <link rel="stylesheet" href="assets/style.css">
</head>
<body bgcolor="#25274D">
    <h1>Bot is Always On</h1>
    <p>Jangan lupa ping botnya pake Uptimerobot biar botnya jalan terus</p>
    <p>
 </p>
<p align="center">
<a href="#"><img title="SLIME-BOTZ" src="https://img.shields.io/badge/SLIMEBOTZ-green?colorA=%23ff0000&colorB=%23017e40&style=for-the-badge"></a>
</p>
</div> 
  
<p align="center">
  <a href="https://github.com/Aztecs444"><img title="Author" src="https://img.shields.io/badge/Author-FanX7-blue.svg?style=for-the-badge&logo=replit" /></a>
</p>
<p align="center">
<a href="#"><img title="mengapi" src="https://img.shields.io/static/v1?label=FREE&message=Slime-Botz&color=green"></a>
</p>
    <picture>
      <source media="(min-width: 650px)" srcset="https://i.waifu.pics/brv-GJu.jpg" style="border: 5px: solid black;" >
      <source media="(min-width: 450px)" srcset="https://i.waifu.pics/brv-GJu.jpg" style="border: 5px: solid black;" >
      <img src="https://i.waifu.pics/brv-GJu.jpg" style="width: 320px;border: 5px solid black;" alt="CopyRight Extream"/>
</picture>
  </p>
</body>
</html>